<%= form_with model: @project, local: true do |form| %>
  <div class="mt-6">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="mt-5 md:mt-0 md:col-span-3">
        <form action="#" method="POST">
          <div class="shadow sm:rounded-md sm:overflow-hidden">
            <div class="px-4 py-5 bg-white sm:p-6">
              <div class="grid grid-cols-3 gap-6">
                <div class="col-span-3 sm:col-span-2">
                  <label for="username" class="block text-sm font-medium leading-5 text-gray-700">
                    Name
                  </label>
                  <div class="mt-1 flex rounded-md shadow-sm">
                    <%= form.text_field :title, autofocus: true, class: "form-input rounded-md flex-1 block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5", placeholder: "Enter Project Name"  %>
                  </div>
                </div>
              </div>

              <div class="mt-6 p-4 bg-gray-50">
                <label class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
                  Hour Tracking Categories
                </label>
                <%= form.fields_for :tasks do |task| %>
                  <div class="grid grid-cols-6 gap-4 mt-4 hour-field-group">
                    <div class="col-span-1">
                      <label class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
                        Billable?
                      </label>
                      <%= task.select :billable, [['Billable', true], ['Non-Billable', false]], {}, { class: 'block form-select w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5' } %>
                    </div>
                    <div class="col-span-2">
                      <label class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
                        Name
                      </label>
                      <%= task.text_field :title, autofocus: true, class: "form-input rounded-md flex-1 block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5", placeholder: "Enter Project Name"  %>
                    </div>
                    <div class="sm:col-span-3">
                      <label class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
                        Users
                      </label>
                      <div class="mt-1 sm:mt-0">
                        <div class="rounded-md shadow-sm">
                          <%= task.collection_select(:user_ids, current_user.company.users, :id, :full_name, {prompt: false}, {multiple: true, class: 'chosen chosen-select block form-select w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5', id: 'project_user_ids', data: {placeholder: 'Select User(s)'}}) %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>

              <div class="mt-2">
                <label class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
                  Billing Type
                </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                  <div class="max-w-xs rounded-md shadow-sm">
                    <%= form.select :billing_type, [['Fixed Price', 'fixed'], ['Time & Materials', 'time_and_materials']], { selected: @projects_permission }, { class: 'block form-select w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5' } %>
                  </div>
                </div>
              </div>

              <div class="mt-6">
                <label class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
                  Budget (Hours)
                </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                  <div class="max-w-xs rounded-md shadow-sm">
                    <%= form.number_field :hours_budget, autofocus: true, class: "form-input rounded-md flex-1 block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5", placeholder: "Enter Budgeted Hours"  %>
                  </div>
                </div>
              </div>

              <div class="mt-6">
                <label for="about" class="block text-sm leading-5 font-medium text-gray-700">
                  Description
                </label>
                <div class="rounded-md shadow-sm">
                  <%= form.text_area :description, class: "form-textarea mt-1 block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", placeholder: "Write a brief description of what the project entails."  %>
                </div>
              </div>
            </div>
            <div class="px-4 py-3 bg-gray-50 text-left sm:px-6">
              <span class="inline-flex rounded-md shadow-sm">
                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-red-600 hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red active:bg-red-700 transition duration-150 ease-in-out">
                  <%= button_text %>
                </button>
              </span>
              <span class="inline-flex rounded-md shadow-sm">
                <%= link_to "Cancel", projects_url, class: 'inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-gray-600 bg-white hover:text-gray-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red active:bg-red-700 transition duration-150 ease-in-out ml-3' %>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>
